{{!< default}}
 
{{#post}}
{{> hero-section course_style="one"}}
<section class="lesson-area py-20">
   <div class="course-page-content gh-content gh-canvas pb-20 xl:pb-20  max-w-4xl mx-auto">
      {{content}}
   </div>
   <div class="gh-canvas  max-w-4xl mx-auto">
      <div class="lesson-plan-block  mb-10  ">
         <h3 class="font-serif text-2xl lg:text-4xl text-gray-800 font-bold  text-center pb-3">{{t "Course Lessons"}}</h3>
         <p class=" text-xl  text-gray-400   mb-10  text-center">{{t "Here following the lesson list for that course"}}</p>
      </div>
      <div class="other-lessons"></div>
      <script>
         const getOtherLessonPosts = (site_url, api_key, primaryTag) => { 
             fetch(`${site_url}/ghost/api/content/posts/?key=${api_key}&filter=tag:[:hash-lesson,${primaryTag}]&order=published_at%20desc&limit=all&include=authors,tags,monthly_price,yearly_price`)
                 .then(response => response.json())
                 .then(data => {
                     let posts = data.posts;
                     if (posts && posts.length > 0) { // added check for posts variable
                        let template = posts.slice(1).map(post =>`
                 <a href="${post.url}">
         <div class="lesson-box-2 border hover:border-white rounded-lg hover:shadow-lg duration-300 p-6 flex
            justify-between items-center group">
            <div class="lesson-logo flex-none bg-blue-50 group-hover:bg-blue-50  p-2
               rounded-full w-16 h-16 inline-flex items-center justify-center mr-4 duration-300">   
                {{> icons/lesson-alt}}               
            </div>
            <div class="lesson-content flex-auto">
               <h4 class="font-serif text-2xl hover:text-blue-800   font-bold
                  mb-2 duration-300">
                 ${post.title}       
               </h4>
                <p class="border px-2 text-sm py-1 inline-block rounded-lg opacity-80">  ${post.visibility === 'public' ? 'Free' : 'Member Only'}</p>
            </div>
           ${ post.feature_image ? `
            <div class="feature-image relative hidden lg:block">
               <img class="h-24 w-36 rounded-xl object-cover" src="${post.feature_image}" alt="${post.title}">
            </div>
          ` : '' }
         </div>
            </a> `).join('');
         
                         document.querySelector('.other-lessons').innerHTML = `${template}`;
                     }
                 })
                 .catch(error => {
                     console.error("An error occurred:", error);
                 });
         }
         
         
         if ("{{@custom.content_api_key}}") {
             const primaryTag = "{{#tags.[0]}}{{slug}}{{/tags.[0]}}";    
             getOtherLessonPosts("{{@site.url}}", "{{@custom.content_api_key}}", primaryTag);
         }
         
      </script>
   </div>
</section>
{{/post}}
